.header-container {
  background-color: #000;
}

.header-content {
  justify-content: space-between;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.header-logo:hover {
  opacity: 0.8;
  transition: opacity 0.15s ease-in-out;
}
